@font-face {
  font-family: "Light";
  src: url("../public/fonts/IBMPlexSans-Light.ttf");
}

@font-face {
  font-family: "Medium";
  src: url("../public/fonts/IBMPlexSans-Medium.ttf");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

:root {
  --top-panel-height: 52px; /* 52px высота панели верх на проде*/
  // --line-height: 20px;//заметки
}
.dark {
  --body-bg-color: #2a2a2a;
  --body-text-color: #e2e2e2;
  --body-link-color: #fff;
  /*SCROLL*/

  /* Стилизация ползунка скроллбара */
  --scrollbar-thumb: #1e1e1e; /* цвет ползунка */

  /* Изменение цвета ползунка при наведении */
  --scrollbar-thumb-hover: #1e1e1e;
  --checkbox-bg: #2a2a2a;
  /*MODAL*****************/

  --modal-bg-color: #1e1e1e;
  --modal-content-color: #1e1e1e;
  --modal-border-color: #e2e2e2;
  --modal-bg-clr: rgba(20, 20, 20, 0.5);




  //// NEW
  /// colors: #fff, #2a2a2a, #e2e2e2, #3e3e3e, #8c8c8c
  --active-color: #fff;
  --accent-color: #e2e2e2;
  --btn-bg-color: #2a2a2a;
  --link-color: #3e3e3e;
  --icon-color: #8c8c8c;

  --btn-color: #f8f8f8;

  // --color-txt: var(--active-color);
  // --color-input: var(--accent-color);
  // --disabled-btn-color: var(--link-color);

  // --color-brd: var(--accent-color);

  // --color-lg: var(--icon-color);
  // --color-url-brd: var(--link-color);

  // --color-all: var(--accent-color);

  // --color-btn-delete: var(--icon-color); /*кнопка удаления*/
  // --color-btn-delete-hover: var(--accent-color);
  // /*reports*/
  // --color-reports-brd: var(--icon-color);
  // --color-report-date: var(--icon-color);

  // --background-scroll: var(--link-color); /* цвет фона дорожки */

  
  // --color-title: var(--accent-color);

  // //// NOTES
  // --input-text-color: var(--link-color);

  // --textarea-text-color: var(--accent-color);

  // --brd-color: var(--accent-color);

  // --btn-color: #f8f8f8;
  // --btn-hover-color: var(--accent-color); /* active*/
  // --btn-disabled-color: var(--link-color); /*disabled*/
}
.light {
  --body-bg-color: #fff;
  --body-text-color: #000000;
  --body-link-color: #2a2a2a;
  /*SCROLL******************/
  --background-scroll: ##ffffff; /* цвет фона дорожки */
  --checkbox-bg: #fff;

  /* Стилизация ползунка скроллбара */
  --scrollbar-thumb: #d7d7d7; /* цвет ползунка */

  /* Изменение цвета ползунка при наведении */
  --scrollbar-thumb-hover: #d7d7d7;
  /*MODAL***********************/
  --modal-bg-color: #f0f0f0;

  --modal-content-color: #ffffff;
  --modal-border-color: #000000;
  --modal-bg-clr: rgba(240, 240, 240, 0.5);


  //// NEW
  --active-color: #000;
  --btn-bg-color: #fff;
  --accent-color: #000000;
  --link-color: #d7d7d7;
  --icon-color:  #828282;

  --btn-color: #8c8c8c;

  // --color-txt: #2a2a2a;

  // --color-input: #000000; /*#8c8c8c*/

  // --disabled-btn-color: #d7d7d7; /*#8c8c8c*/

  // --color-brd: #000000;

  // --color-url-brd: #8c8c8c;

  // --color-lg: #8c8c8c; /*Всего*/

  // --color-link: #8c8c8c;
  // --color-all: #000000;

  // --color-btn-delete: #828282;
  // --color-btn-delete-hover: #000000;

  // --color-title: #000000;
  // /*report*/
  // --color-reports-brd: #d7d7d7;
  // --color-report-date: #828282;

  /// NOTES
  // --btn-bg-color: #fff;

  // --input-text-color: #8c8c8c;

  // --textarea-text-color: #000000;

  // --brd-color: #000000;

  // --btn-color: #8c8c8c;

  // --btn-hover-color: #000000; /*active btn*/
  // --btn-disabled-color: #d7d7d7; /*disabled btn*/
}

.dark, .light {
  --color-txt: var(--active-color);
  --color-input: var(--accent-color);
  --disabled-btn-color: var(--link-color);

  --color-brd: var(--accent-color);

  --color-lg: var(--icon-color);
  --color-url-brd: var(--link-color);

  --color-all: var(--accent-color);

  --color-btn-delete: var(--icon-color); /*кнопка удаления*/
  --color-btn-delete-hover: var(--accent-color);
  /*reports*/
  --color-reports-brd: var(--icon-color);
  --color-report-date: var(--icon-color);

  --background-scroll: var(--link-color); /* цвет фона дорожки */

  
  --color-title: var(--accent-color);

  //// NOTES
  --input-text-color: var(--link-color);

  --textarea-text-color: var(--accent-color);

  --brd-color: var(--accent-color);
  --btn-hover-color: var(--accent-color); /* active*/
  --btn-disabled-color: var(--link-color); /*disabled*/
}

body {
  font-family: "Light";
  // font-family: "IBM Plex Sans", sans-serif;
  // font-weight: 400;
  // font-style: normal;
  background-color: var(--body-bg-color);
  color: var(--body-text-color);
}
@for $i from 1 through 10 {
  //от 10 до 100
  $size: $i * 10px; //от 10px до 100px
  $size-p: $i * 10%; //от 10% до 100%
  .w-#{$i * 10}p {
    width: $size-p; //width p-проценты
  }
  .mw-#{$i * 10}p {
    max-width: $size-p; //max-width p-проценты
  }
  .h-#{$i * 10} {
    height: $size; //height
  }
  .bt-#{$i * 10} {
    bottom: $size; //bottom
  }
  .t-#{$i * 10} {
    top: $size; //top
  }
  .pt-#{$i * 10} {
    padding-top: $size; //padding-top
  }
  .pr-#{$i * 10} {
    padding-right: $size; //padding-right
  }
  .pl-#{$i * 10} {
    padding-left: $size; //padding-left
  }
  .pb-#{$i * 10} {
    padding-bottom: $size; //padding-bottom
  }
  .mt-#{$i * 10} {
    margin-top: $size; //margin-top
  }
  .mr-#{$i * 10} {
    margin-right: $size; //margin-right
  }
  .ml-#{$i * 10} {
    margin-left: $size; //margin-left
  }
  .mb-#{$i * 10} {
    margin-bottom: $size; //margin-bottom
  }
}
//FONT SIZE
@for $j from 4 through 12 {//от 4px до 12px
  $i: 2 * $j;//от 8px до 24px c шагом 2
  .fs-#{$i} {
    font-size: #{$i}px;//font-size
  }
}
@each $i in 32, 34, 36, 38, 40, 48, 64, 84, 128 {
  .fs-#{$i} {
    font-size: #{$i}px;//font-size
  }
}

.fw-b {
  font-weight: bold;
}

.bold {
  font-weight: 700;
}

.fw-bold {
  font-weight: 500;
}

//LINE HEIGHT
.lh-12{
  line-height: 12px;
}
.lh-16{
  line-height: 16px;
}
//WIDTH percent
.w-25p {
  width: 25%;
}

.w-full {
  width: 100%;
}
//WIDTH
@each $i in 120, 140, 790 {
  .w-#{$i} {
    width: #{$i}px;//width
  }
}

//HEIGHT
@each $i in 25, 200 {
  .h-#{$i} {
    height: #{$i}px;//height
  }
}

.h-full {
  height: 100%;
}
//BOTTOM
.bt-5 {
  bottom: 5px;
}
//PADDING-TOP
@each $i in 2, 3, 5, 16, 18, 24 {
  .pt-#{$i} {
    padding-top: #{$i}px;//padding-top
  }
}

//PADDING-LEFT
.pl-5 {
  padding-left: 5px;
}
//PADDING-RIGHT
.pr-5 {
  padding-right: 5px;
}
//PADDING-BOTTOM
@each $i in 3, 5, 7,8, 13 {
  .pb-#{$i} {
    padding-bottom: #{$i}px;//padding-bottom
  }
}

//MARGIN-TOP
@each $i in 0, 3, 5, 7, 8, 14, 15 {
  .mt-#{$i} {
    margin-top: #{$i}px;//margin-top
  }
}

//MARGIN-BOTTOM
.mb-0 {
  margin-bottom: 0;
}
.mb-1 {
  margin-bottom: 1px;
}
//MARGIN-RIGHT
.mr-5 {
  margin-right: 5px;
}

//MARGIN-LEFT percent
.ml-14p {
  margin-left: 14%;
}
.ml-15p {
  margin-left: 15%;
}
.ml-16p {
  margin-left: 16%;
}

//MARGIN-LEFT
.ml-20p {
  margin-left: 20%;
}
@each $i in 110, 120, 130, 140, 150 {
  .ml-#{$i} {
    margin-left: #{$i}px;//margin-left
  }
}

//TOP
.t-5 {
  top: 5px;
}
//POSITION
.psn-rlt {
  position: relative;
}
//DISPLAY
.flex {
  display: flex;
}
.flex-d-col {
  flex-direction: column;
}
.al-it-c {
  align-items: center;
}
.sp-btw {
  justify-content: space-between;
}
.flex-1 {
  flex: 1;
}
//GAP

.gap-10 {
  gap: 10px;
}
.gap-20 {
  gap: 20px;
}
//CURSOR
.cp {
  cursor: pointer;
}
.ca {
  cursor: auto;
}
.cd {
  cursor: default;
}
