body {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/*For Theme*/
.dark {
  --img-search: url("../public/image/search_dark.svg");
  --img-arrow: url("../public/image/Arrow_dark.svg");
  --img-error: url("../public/image/error-dark.svg");

  --img-reply: url("../public/image/reply_dark.svg");
  --img-reply-hover: url("../public/image/reply_dark_hover.svg");

  --img-edit: url("../public/image/edit_dark.svg");
  --img-edit-hover: url("../public/image/edit_dark_hover.svg");

  --img-remove: url("../public/image/remove_dark.svg");
  --img-remove-hover: url("../public/image/remove_dark-hover.svg");
  --img-btn-up: url("../public/image/btn-up-dark.svg");
  --img-btn-down: url("../public/image/btn-down-dark.svg");
}
.light {
  --img-search: url("../public/image/search.svg");
  --img-arrow: url("../public/image/Arrow.svg");
  --img-error: url("../public/image/error-light.svg");

  --img-reply: url("../public/image/reply.svg");
  --img-reply-hover: url("../public/image/reply_hover.svg");

  --img-edit: url("../public/image/edit.svg");
  --img-edit-hover: url("../public/image/edit_hover.svg");

  --img-remove: url("../public/image/remove.svg");
  --img-remove-hover: url("../public/image/remove-hover.svg");
  --img-btn-up: url("../public/image/btn-up-light.svg");
  --img-btn-down: url("../public/image/btn-down-light.svg");
}

/*MAINPAGE*********************************/

.full-page {
  /* max-width: 1920px; */
  /* margin: 0 auto; */
  /* width: 100%; */
  /* height: 100%; */

  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.max-h-full {
  max-height: 100%;
}
.sidebar {
  width: 270px;
}

.content__main {
  height: 100vh;
}

.w-auto {
  width: auto !important;
}

/*BACKGROUND*/

.bcr {
  background-color: red;
}
.bcg {
  background-color: green;
}
/*DISPLAY*/
.flex-end {
  justify-content: flex-end;
}

.align-items-f-end {
  align-items: flex-end;
}

/*GAP*/
/* .gap-10 {
  gap: 10px;
}
.gap-20 {
  gap: 20px;
} */


/*FONT_SIZE*/

.fs-12-15 {
  font-size: 12px;
  line-height: 15.6px;
}

/*SCROLL*/

.overflow-y-scroll {
  overflow-y: scroll;
}

.overflow-y-auto {
  overflow-y: auto;
}
/*BORDER*/

.brd {
  border: 1px solid var(--brd-color);
}

.brd-none {
  border: none;
}
.brd-top-none {
  border-top: none;
}
.brd-lt-none {
  border-left: none;
}
.brd-rt-none {
  border-right: none;
}

.brd-bt-none {
  border-bottom: none;
}
.brd-bt {
  border-bottom: 1px solid var(--brd-color);
}

.brd-top {
  border-top: 1px solid var(--brd-color);
}
.brd-rt {
  border-right: 1px solid var(--brd-color);
}
.brd-lt {
  border-left: 1px solid var(--brd-color);
}

/*HEIGHT*/
.max-h-250 {
  max-height: 250px;
}

.min-h-200 {
  min-height: 200px;
}

/*WIDTH*/

.min-w-200 {
  min-width: 200px;
}
.min-w-490 {
  min-width: 490px;
}
.min-w-680 {
  min-width: 680px;
}

.min-w-790 {
  min-width: 790px;
}

.min-w-1200 {
  min-width: 1200px;
}

.max-w-65p {
  max-width: 65%;
}

/*Styles for classes notes*/

.notes-main__search-submit-button {
  width: 18px; /*18px*/
  height: 18px; /*18px*/

  background-image: var(--img-search);
  background-size: cover;
  border: 1px solid var(--btn-bg-color);
  background-color: var(--btn-bg-color);
}
.notes-main__notes {
  height: calc(100% - 28px);
  display: flex;
  flex-direction: column;
}

.notes-main__note-date,
.notes-main__note-message-date {
  width: 90px;
  text-align: right;
}
.notes-main__note-clear {
  width: 9px;
  height: 9px;
  background-image: url("../public/image/delete.svg");
  background-size: cover;
  border: none;
  margin-right: 10px;
}
.notes-main__arrow {
  width: 22px;
  height: 18px;
  background-image: var(--img-arrow);
  background-size: cover;
  border: none;
  position: absolute;
  top: 50%;
  left: -50px;
  transform: translateY(-50%);
}
.notes-main__note-message {
  position: relative;
}

/* .h-full {
  height: 100%;
} */
/*Logos*/

.notes-main__note-reply,
.notes-main__note-edit,
.notes-main_note-delete {
  width: 10px;
  height: 10px;
  background-size: unset;
  border: none;
  background-repeat: no-repeat;
  background-position: center center;
}
.notes-main__note-reply {
  background-image: var(--img-reply);
}

.notes-main__note-reply :hover {
  background-image: var(--img-reply-hover);
}
.notes-main__note-edit {
  background-image: var(--img-edit);
}
.notes-main__note-edit :hover {
  background-image: var(--img-edit-hover);
}
.notes-main_note-delete {
  background-image: var(--img-remove);
}

.notes-main__delete :hover {
  background-image: var(--img-remove-hover);
}
/*Reply*/
.notes-main__delete {
  width: 9px;
  /* height: 9px;  */
  background-image: url("../public/image/delete.svg");
  background-color: var(--btn-bg-color);
  background-size: cover;
  border: none;
}
.messages__arrow {
  width: 22px;
  height: 18px;
  background-image: var(--img-arrow);
  background-color: var(--btn-bg-color);
  background-size: cover;
  border: none;
}
.notes-main__input {
  outline: none;
  background-color: var(--btn-bg-color);
  color: var(--textarea-text-color);
}
/*Border for input textarea*/
.form__textarea {
  outline: none;
  background-color: var(--btn-bg-color);
  color: var(--textarea-text-color);
  overflow-y: scroll;
}

/*Buttons send  delete*/
.form__btn {
  color: var(--btn-color);
  background-color: var(--btn-bg-color);
}

/* .form__btn:hover {
  background-color: var(--btn-bg-color);
  cursor: pointer;
  color: var(--btn-hover-color);
} */
.active-buttons {
  background-color: var(--btn-bg-color);
  cursor: pointer;
  color: var(--btn-hover-color);
  opacity: 1;
}
/*Disabled for buttons send delete*/

.disabled-button {
  pointer-events: none;
  opacity: 0.5;
  cursor: none;
  color: var(--btn-disabled-color) !important;
}
/*MODAL*/

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: var(--modal-bg-clr);

  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: var(--modal-content-color);
  padding: 10px;
  border: 1px solid var(--modal-border-color);

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.modal-logo-error {
  background-position: center;
  background-repeat: no-repeat;
  background-image: var(--img-error);
}
/* .modal-logo-close {
  background-position: center;
  background-repeat: no-repeat;
  background-image: var(--img-close);
} */

/*Notes main*/
.notes-main__note-messages {
  /* height: calc(100% - 95px); */
  flex: 1;
  overflow-y: auto;
  padding-top: 20px;
}

/*Disabled */
.disabled {
  opacity: 0.5;
  pointer-events: none;
}

/*Messages to reply color*/

.messages-main__note-reply {
  color: #8c8c8c;
}

/*SCROLL*/
::-webkit-scrollbar {
  width: 8px; /* ширина скроллбара */
}

/* Стилизация трека (дорожки) скроллбара */
::-webkit-scrollbar-track {
  background: var(--background-scroll);
}

/* Стилизация ползунка скроллбара */
::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb); /* цвет ползунка */
  /* width: 2px; */
}

/* Изменение цвета ползунка при наведении */
::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover); /* цвет ползунка при наведении */
}

/*Чтобы пофиксить переключение темы */

/*Theme toggle*/
.theme-toggle-circle {
  width: 25px;
  height: 20px;
  cursor: pointer;
  margin-right: 9px;
  margin-bottom: 9px;
  border-radius: 50%; /* чтобы создать форму круга */

  display: flex;
}

.theme-toggle_light,
.theme-toggle_dark {
  flex: 1; /* чтобы кнопки равномерно занимали доступное пространство */
  border: none; /* убираем границы */
  /* color: white; */
  margin: 0;
}

.theme-toggle_light {
  background-color: #fff; /* цвет для светлой кнопки */
  border: 1px solid #1e1e1e;
  border-radius: 20px 0 0 20px;
  cursor: pointer;
}

.theme-toggle_dark {
  background-color: #1e1e1e; /* цвет для темной кнопки */

  cursor: pointer;
  /* border: 1px solid #fff; */
  border-radius: 0 20px 20px 0;
}

/*************************************************************/

/*Основной контейнер*/
.notes_root_wrapper {
  height: 800px; /*обертка для контейнера */
  border: 2px solid red;
}
#notes_root {
  height: 100%; /* не расплывался на всю высоту */
  max-height: 100%; /*высота чтобы не была больше высоты обертки*/
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
/*Свойство для переноса слов*/

.word-break {
  word-break: break-all;
}

/*Свойство для выделения искомого текста*/
.marked-text {
  background-color: red;
}
.marked-text.active {
  background-color: yellow;
}

/*Переключение кнопок поиска найденного слова  вниз и вверх*/

.searchBlock-btn {
  width: 3px;
  height: 7px;
  background-color: var(--btn-bg-color);
  background-size: cover;
  border: none;
  cursor: pointer;
  margin-top: 3px;
}

.searchBlock-btn-next {
  background-image: var(--img-btn-up);
}

.searchBlock-btn-prev {
  background-image: var(--img-btn-down);
}

/*Крутилка*/

/* .loader {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 129px;
  height: 129px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} */

.loader {
  width: 100px;
  height: 100px;
  background-image: url("../public/image/webbez.png");
  background-size: cover; /* Обеспечивает заполнение фона изображением */
  animation: blink 1s infinite; /* Применяем анимацию */
}

@keyframes blink {
  0%,
  100% {
    opacity: 1; /* Полная видимость */
  }
  50% {
    opacity: 0; /* Прозрачность в середине анимации */
  }
}
pre.note-text {
  margin: 0;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  max-width: 100%;
  white-space: pre-wrap;
}
